* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;	
}
body {
	width: 1200px;

}

.logo {
	margin: 35px 0 0 100px;
	letter-spacing: .2px;
	font-family: sans-serif;
	font-size: 12px;

}

.logo img {
	float: left;
}

.hello {
	margin: 0 275px;
	text-align: center;
	margin-top: 100px;
	color: #fff;
	font-family: sans-serif;
	letter-spacing: 1px;
}

.header {
	border-top: 5px solid #fa6900;
	background-color: #69d2e7;
	height: 470px

}

.aboyt {
	position: absolute;
	top: 371px;
	left: 186px;
	background-color: #fff;
	width: 834px;
	height: 284px;
	border-radius: 5px;
	padding: 45px 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5)

}
.aboyt hr {
	width: 382px;
	align: center;
}
.aboyt h3 {
	text-align: center;

}

.shape {
	background-color: #f1f1f1;
	height: 534px;
	width: 100%;

	/*padding-top: 250px;	*/
	
}

.shape img {
	/*float: left;*/
	border-radius: 5px;
	width: 160px;
	height: 160px;
	margin-bottom: 25px;

	/*display: inline-block;*/
}
.shape-one {
	position: relative;
	top: 254px;
	left: 186px;
	width: 160px;
	margin: 0;
	float: left;
	/*align-content: center;*/
	

}

.shape figcaption {
	clear: both;
	text-align: center;
}

.shape-two {
	position: relative;
	top: 254px;
	left: 360px;
	width: 160px;
	float: left;
}

.shape-three {
	position: relative;
	top: 254px;
	left: 540px;
	width: 160px;
	float: left;
}

.orange {
	background-color: #fa6900;
	border: 1px solid #000;
	height: 535px;
	color: #fff;
	padding-left: 100px;
	text-align: right;

}

.orange-content {
	position: relative;
	top: 135px;
	left: 100px;
	float: left;
	padding-top: 135px;
	}

.strong {
	/*margin: 135px 0 0 100px;*/
	
}

.orange-text {
	margin: 50px 0 0 0px;

}

.orange img {
	border-radius: 250px 0 0 250px;
	background-color: #fff;	
	float: right;	
}
.three-right {
	height: 554px;
	background-color: #f1f1f1;

}